body {
    font-family: 'Caveat', cursive;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 20px;
}

/* to do: center the container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}